<!DOCTYPE html>
<html lang="es-CO">
<head>
  <meta charset="utf-8">
  <title>Test BackboneJS </title>
  <meta name="description" content=" ">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" type="text/css"><!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center"> BibliotecaJS </h1>
      

        <div class="col-lg-4 col-lg-offset-4">
          <form class="form-inline">
            <div class="form-group has-feedback">
              <input type="text" class="form-control input-lg" id="inputSuccess4" aria-describedby="inputSuccess4Status">
              <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
          </form>
        </div>

      </div>
      
      <div class="row row-render">
        
        
        
      </div>

        

    </div>
    
    <!-- Templates -->
	<script type="text/template" id="pokemon-template">
	
	 <% _.each(pokemon, function(pokemon) { %>
        <div class="col-lg-4">
             <div class="thumbnail">
                <img class="block-center" src="images/book-placeholder.png">
                    <div class="caption">
                      <h3><%= pokemon.name %></h3>
                      <small><%= pokemon.species %></small>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    
                    </div>

              </div>
        </div>

		 <% }); %>
	</script>
      

    

      <!--LibreriasJS-->
      <script src="js/libs/jquery.js"></script>
      <script src="js/libs/json2.js"></script>
      <script src="js/libs/underscore-min.js"></script>
      <script src="js/libs/backbone-min.js"></script>
      <!--<script src="js/libs/bootstrap.min.js"></script>-->
      
      <!-- AppJS -->
      
      <script src="js/model.js"></script>

  </body>
</html>